<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/logout" th:text="#{exit.ref}">Exit</a>
    &nbsp;|&nbsp;
    <a th:href="@{/admin/{id}(id=${user.id},lang='en')}">EN</a>
    &nbsp;|&nbsp;
    <a th:href="@{/admin/{id}(id=${user.id},lang='ru')}">RU</a>
</div>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <a th:if="${message}" STYLE="color: brown" th:text="${message}"></a>
        <input type="hidden" id="id" th:field="*{id}">
        <table>
            <tr>
                <td><label for="username" th:text="#{th.username} + ':'">Username:</label></td>
                <td><input type="text" th:field="*{username}" id="username"></td>
            </tr>
            <tr>
                <td><label for="password" th:text="#{th.password} + ':'">Password:</label></td>
                <td><input type="text" th:field="*{password}" id="password"></td>
            </tr>
            <tr>
                <td><label for="name" th:text="#{th.name} + ':'">Name:</label></td>
                <td><input type="text" th:field="*{name}" id="name" th:value="${user.name}"></td>
            </tr>
            <tr>
                <td><label for="surname" th:text="#{th.surname} + ':'">Last name:</label></td>
                <td><input type="text" th:field="*{surname}" id="surname" th:value="${user.surname}"></td>
            </tr>
            <tr>
                <td><label for="age" th:text="#{th.age} + ':'">Age:</label></td>
                <td><input type="text" th:field="*{age}" id="age" th:value="${user.age}"></td>
            </tr>
        </table>
        <div th:if="${adminRole}">
            <input type="checkbox" id="admin" name="adminRole" checked value="1">
            <label for="admin" th:text="#{role.admin}"> Admin role</label>
        </div>
        <div th:unless="${adminRole}">
            <input type="checkbox" id="admin1" name="adminRole" value="1">
            <label for="admin1" th:text="#{role.admin}"> Admin role</label>
        </div>
        <br/>
        <input type="submit" th:value="#{button.edit}" style="float: left; margin-right: 20px">
    </form>
</div>
</body>
</html>