<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/logout" th:text="#{exit.ref}">Exit</a>
    &nbsp;|&nbsp;
    <a href="/admin?lang=en">EN</a>
    &nbsp;|&nbsp;
    <a href="/admin?lang=ru">RU</a>
</div>
<div>
<table border="1">
    <tr>
        <th th:text="#{th.username}">UserName</th>
        <th th:text="#{th.password}">Password</th>
        <th th:text="#{th.role}">Roles</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.username}"></a></td>
        <td th:text="${user.password}"></td>
        <td>
            <a th:each="r : ${user.roles}" th:text="${r.getRole()} + '; '"></a>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                <input type="submit" th:value="#{button.edit}">
            </form>
        </td>
        <td>
            <form th:method="POST" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                <input type="submit" th:value="#{button.del}">
            </form>
        </td>
    </tr>
</table>
</div>
</body>
</html>